.cart-page{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding-top: 70px;
    text-align: center;
    /* background-color: black; */

}
.cart-page h1 {
    padding-left: 30px;
    /* color: white; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.cart-container{
     display: flex;
     justify-content: center;
}
.cart-items{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.cart-item {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    width: 900px;
    /* height: 180px; */
    background: linear-gradient(to right, #272626, #5c95b4);
    border-radius: 10px;
    margin: 10px;
}
.cart-item-image {

    width: 130px;
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.cart-item-info {
    width: 300px;
    height: auto;
    display: flex;
    align-items: start;
    flex-direction: column;
    margin-left: 20px;
    font-size: 15px;
    margin-bottom: 10px;
    gap: -10px;
    
}
.cart-item-info h3 {
    font-size: 20px;
    padding-bottom: -40px;
    color: tomato;
}
.cart-item-info p{
    font-size: 15px;
    color: white;
}
.quantity-controls{
    width: auto;
    height: 20px;
    margin: 10px;
}
.quantity-button{
    border: none;
    border-radius: 5px;
    height: 25px;
    width: 25px;
}
.quantity-button :hover{
    background-color: blue;
}
.quantity{
    padding: 15px;
    font-family: serif;
}
.remove-button1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(to right, #dd3b13, #feb47b);
    border: none;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    font-size: 20px;
    margin: 10px;
    margin-left: 300px;
    margin-top: 90px;
}
.back-button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 150px;
    height: 50px;
}
.procced-checkout{
    border: none;
    border-radius: 10px;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    font-size: 20px;
    padding: 20px;
}

/* Responsive Design */
@media (max-width: 1024px) {
  .cart-item {
    width: 95%;
    height: 160px;
  }

  .cart-item-info {
    font-size: 14px;
  }

  .cart-item-info h3 {
    font-size: 18px;
  }

  .cart-item-info p {
    font-size: 14px;
  }

  .remove-button {
    margin-left: 200px;
  }
}

@media (max-width: 768px) {
  .cart-page h1 {
    padding-left: 10px;
    font-size: 24px;
  }

  .cart-item {
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    height: auto;
    padding: 15px;
  }

  .cart-item-image {
    width: 100px;
    margin-left: 0;
    margin-bottom: 10px;
  }

  .cart-item-info {
    width: 100%;
    margin-left: 0;
    text-align: center;
    font-size: 16px;
  }

  .cart-item-info h3 {
    font-size: 20px;
  }

  .cart-item-info p {
    font-size: 16px;
  }

  .quantity-controls {
    margin: 5px;
  }

  .remove-button {
    width: 80px;
    height: 25px;
    font-size: 16px;
    margin-left: 0;
    margin-top: 10px;
    align-self: center;
  }

  .back-button {
    width: 120px;
    height: 40px;
  }

  .procced-checkout {
    font-size: 18px;
    padding: 15px;
  }
}

@media (max-width: 480px) {
  .cart-page {
    padding-top: 60px;
  }

  .cart-page h1 {
    font-size: 20px;
    padding-left: 5px;
  }

  .cart-item {
    padding: 10px;
  }

  .cart-item-image {
    width: 80px;
  }

  .cart-item-info {
    font-size: 14px;
  }

  .cart-item-info h3 {
    font-size: 18px;
  }

  .cart-item-info p {
    font-size: 14px;
  }

  .remove-button {
    width: 70px;
    height: 20px;
    font-size: 14px;
  }

  .back-button {
    width: 100px;
    height: 35px;
  }

  .procced-checkout {
    font-size: 16px;
    padding: 10px;
  }
}

