.home-container{
  padding-top: 80px; /* prevents navbar overlap */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: #f2f2f2;
}
.bgcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 90%; */
}
.bgcontainer img {
  width: 100%;
}
.container2{
  display: flex;
  text-align: center;
  padding: 20px;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 280px;
  height: 400px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0,0,0,0.3);
  font-family: Arial, sans-serif;
  margin: 10px;
  transition: transform 0.3s ease;
}
.card:hover{
  transform: translateY(-5px);
}
.img-card {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cardin{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 130px;
  height: 80px;
  background-color: rgba(255, 69, 0, 0.85);
  color: #fff;
  padding: 20px;
  border-radius: 50px;
  margin-bottom: 10px;
}
.button-card {
  padding: 5px 10px;
  background-color: #fff;
  color: #ff4500;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}
.main-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap:20px;
  margin: 30px;
}
.card2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 3px;
  padding-top: 100px;
  margin-top: -80px;
}
.e-card {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin: 20px;
  flex-wrap: wrap;
  gap: 20px;
  box-shadow: inset;
}
.e-cardin {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: auto;
  margin: 15px;
  border-radius: 15px;
  padding-bottom: 10px;
  box-shadow: 15px 14px 15px rgba(60, 60, 59, 0.3);
  transition: transform 0.3s ease;
}
.e-cardin img {
  border-radius: 15px;
  background-size: cover;
  width: 200px;
  height: 270px;
}
.e-cardin:hover{
  transform: translateY(-5px);
}

.e-cardin h2{
  margin-bottom: -5px;
}
.e-cardin h4{
  margin-bottom: 0px;
}
.e-cardin p {
  font-size: 20px;
  color: rgb(207, 17, 84);
  font-weight: 800;
}
